<a class="btn btn-light btn-lg" (click)="backToMain()">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>


<div>
  <a class="btn btn-outline-secondary btn-lg m-3" data-bs-toggle="collapse" href="#collapseExample" role="button" 
     aria-expanded="false" aria-controls="collapseExample"
     *ngFor="let q of category_list" (click)="GetCategory(q.category)" style="margin-top:5%;width:15%">
    <b>{{q.category}}</b>
  </a>

</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body" *ngFor="let qname of quiz">
    {{qname.quizName}}
    <div class ="some" *ngFor="let res of result">
   
      <p class="scorecard" *ngIf="res.quizID == qname.quizId && res.userID == ID  && qname.quizName === res.quizName" >
       Score: {{res.totalCorrect}}
      </p>
     </div>
  </div>

</div>