<!-- <button type="button" class="btn btn-lg" (click)="GoToHome()"> Home </button>
<button type="button" class="btn btn-lg" (click)="GoToPre()"> Back </button> -->

<a class="btn btn-light btn-lg" (click)="GoToHome()">
    <span class="glyphicon glyphicon-home"></span>
</a>

<a class="btn btn-light btn-lg" (click)="GoToPre()">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>

<p class=" mt-5 ms-5">Here are the result of the student</p>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>User ID</th>        
            <th>Quiz Name</th>
            <th>Score</th>
        </tr>
        <tr class="list" *ngFor="let res of results">
            <td> {{res.userID}}</td>
            <td>{{res.quizName}}</td>
            <td>{{res.totalCorrect}}</td>
        </tr>
        <tr>
            <td> Total Result </td>
            <td></td>
            <td> {{total_score}}</td>
        </tr>
    </table>
</div>