<a href="#" class="btn btn-light btn-lg" (click)="Previous()">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<h3 class="mt-5 mb-4">Test your knowledge..</h3>

<div class="container">
    <table class='table table-bordered table-light table-striped mt-2 mb-lg-0'>
        <thead>
            <tr>
                <th>Quiz ID</th>
                <th>Quiz</th>
                <th>Category</th>
            </tr>
    
        </thead>
        <tr  *ngFor="let p of quiz" (click)="goToTest(p.quizId)">
                <td>{{p.quizId }} </td>
                <td>{{p.quizName}}</td>
                <td>{{p.categoryName}}</td>
        </tr>
    </table>
</div>