.container{
    margin-top: 5%;
    margin-left: 25%;
    border: 0.01px solid rgb(213, 213, 213);
    width: 700px;
    background-color: white;
    opacity: 1;
}


body{
    /* background-image: url('../../../assets/images/quizbg.jfif') ;  */
    background: rgba(114, 165, 237, 0.1);
    /* opacity: 0.1; */
}